# Ignore MongoDB lock file
data/db/mongo.lock

# Image uploads
tmp/*
mnt/*

# Ignore CSS files compiled from LESS
# Duostack fails on this as well
# public/stylesheets/style.css

/node_modules

.DS_Store

npm-debug.log