/* HTML5 ✰ Boilerplate */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover, a:active {
  outline: none;
}
ul, ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul, nav li {
  margin: 0;
  list-style: n#00B7FFone;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
::-moz-selection {
  background: #00b7ff;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #00b7ff;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #00b7ff;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body,
select,
input,
textarea {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a, a:active, a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}
/**
 * Primary styles
 *
 * Author: Ossi Hanhinen, Antti Vuorela
 */
html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  min-height: 100%;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#dddddd), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
  background-image: linear-gradient(top, #dddddd, #ffffff);
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia;
  line-height: 1.4;
}
h1 {
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px white;
}
h2 {
  font-size: 20.8px;
}
h3 {
  font-size: 18.2px;
}
#page-wrapper {
  width: 1100px;
  margin: 20px auto;
  position: relative;
}
a {
  color: #00b7ff;
}
a:visited, a:link {
  color: #00b7ff;
}
header {
  width: 100%;
  margin-bottom: 10px;
}
header nav {
  width: 100%;
}
header nav ul {
  list-style: none;
  width: 100%;
  height: 30px;
  margin: 0;
}
header nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
header nav ul li:first-child {
  float: right;
}
header nav ul li:first-child a {
  margin-right: 0;
}
header nav ul li a {
  display: block;
  position: relative;
  padding: 2px 8px;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-shadow: 1px 1px 3px white;
}
header nav ul li a:hover {
  color: #666666;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#999999), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #999999, #cccccc);
  background-image: -moz-linear-gradient(top, #999999, #cccccc);
  background-image: linear-gradient(top, #999999, #cccccc);
  background-attachment: fixed;
}
header nav ul li a:visited, header nav ul li a:link {
  color: #000000;
}
header nav ul li a:active {
  top: 1px;
  left: 1px;
  background-color: #999999;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#666666), to(#999999));
  background-image: -webkit-linear-gradient(top, #666666, #999999);
  background-image: -moz-linear-gradient(top, #666666, #999999);
  background-image: linear-gradient(top, #666666, #999999);
  background-attachment: fixed;
  text-shadow: 0 0 2px white;
}
#column-wrapper {
  clear: both;
  overflow: hidden;
  padding: 0 5px 5px 0;
}
#column-wrapper section {
  width: 537.5px;
  float: left;
}
#column-wrapper section:first-child {
  margin-right: 20px;
}
#column-wrapper section div {
  padding: 20px 10px;
  min-height: 200px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#column-wrapper section div article {
  clear: both;
}
#column-wrapper section div article.board a {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 -10px;
  padding: 0 10px;
  text-decoration: none;
}
#column-wrapper section div article.board a:hover {
  background: white;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#column-wrapper section div article.board a:active {
  background: #999;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
#column-wrapper section div article.board a p {
  color: #444;
  float: right;
}
#column-wrapper section div article.board a h2 {
  padding-right: 20px;
  float: left;
}
#column-wrapper section div article.board a h2, #column-wrapper section div article.board a p {
  line-height: 40px;
}
footer {
  clear: both;
  overflow: hidden;
  margin-top: 30px;
}
/* HTML5 ✰ Boilerplate - overrides */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media all and (orientation:portrait) {
  
}
@media all and (orientation:landscape) {
  
}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
