// Helpers for gradients, box-shadows etc.
.linear-gradient(@points, @from, @to) {
  background-color: @from;
  background-image: -webkit-gradient(linear, @points, from(@from), to(@to));
  background-image: -moz-linear-gradient(@points, @from, @to);
  background-image: linear-gradient(@points, @from, @to);
}
.box-shadow() {
  -webkit-box-shadow
}
.border-radius(@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
