@import url("boilerplate-top.css");

@import url("boilerplate-bottom.css");
::-moz-selection {
  background: #00b7ff;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #00b7ff;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #00b7ff;
}
/**
 * Primary styles
 *
 * Author: Ossi Hanhinen, Antti Vuorela
 */
html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  min-height: 100%;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#dddddd), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
  background-image: linear-gradient(top, #dddddd, #ffffff);
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia;
  line-height: 1.4;
}
h1 {
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px white;
}
h2 {
  font-size: 20.8px;
}
h3 {
  font-size: 18.2px;
}
#page-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
}
a {
  color: #00b7ff;
}
a:visited, a:link {
  color: #00b7ff;
}
header {
  width: 100%;
  margin-bottom: 10px;
}
header nav {
  width: 100%;
}
header nav ul {
  list-style: none;
  width: 100%;
  height: 30px;
  margin: 0;
}
header nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
header nav ul li a {
  display: block;
  position: relative;
  padding: 2px 8px;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-shadow: 1px 1px 3px white;
}
header nav ul li a:hover {
  color: #666666;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#999999), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #999999, #cccccc);
  background-image: -moz-linear-gradient(top, #999999, #cccccc);
  background-image: linear-gradient(top, #999999, #cccccc);
  background-attachment: fixed;
}
header nav ul li a:visited, header nav ul li a:link {
  color: #000000;
}
header nav ul li a:active {
  top: 1px;
  left: 1px;
  background-color: #999999;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#666666), to(#999999));
  background-image: -webkit-linear-gradient(top, #666666, #999999);
  background-image: -moz-linear-gradient(top, #666666, #999999);
  background-image: linear-gradient(top, #666666, #999999);
  background-attachment: fixed;
  text-shadow: 0 0 2px white;
}
#column-wrapper > div {
  float: left;
  width: 49%;
  position: relative;
}
#column-wrapper > div#high-level {
  margin-right: 2%;
}
#column-wrapper {
  clear: both;
  overflow: hidden;
  padding: 0 5px 5px 0;
}
#column-wrapper div#high-level section {
  display: block;
  margin: 5px -10px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  text-decoration: none;
}
#column-wrapper div#high-level section.thread:hover {
  background: white;
}
#column-wrapper div#high-level section.thread:active {
  background: #ccc;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
#column-wrapper div#high-level p.omitted {
  color: #ccc;
  margin: 5px 10px;
}
#column-wrapper div div {
  padding: 20px 10px;
  min-height: 200px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#column-wrapper div div article {
  clear: both;
}
#column-wrapper div div article.post {
  overflow: hidden;
  padding: 5px;
  margin: 5px 0;
}
#column-wrapper div div article.post:nth-of-type(2n) {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#column-wrapper div div article.post .post-id {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0 0.2em;
  color: #bbb;
}
#column-wrapper div div article.post .author {
  font-weight: bold;
  margin: 0 0.2em;
}
#column-wrapper div div article div {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0;
  min-height: 0;
  background: transparent none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
#column-wrapper div div article div.post-image {
  margin: 5px 5px 0 0;
  float: left;
}
#column-wrapper div div article div.post-content {
  margin: 0.8em;
  float: left;
}
#column-wrapper div div article.board:nth-of-type(1) {
  margin-top: 20px;
}
#column-wrapper div div article.board a {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 -10px;
  padding: 0 10px;
  text-decoration: none;
}
#column-wrapper div div article.board a:hover {
  background: white;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#column-wrapper div div article.board a:active {
  background: #999;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
#column-wrapper div div article.board a p {
  color: #444;
  float: right;
}
#column-wrapper div div article.board a h2 {
  padding-right: 20px;
  float: left;
}
#column-wrapper div div article.board a h2, #column-wrapper div div article.board a p {
  line-height: 40px;
}
#newThreadButton {
  position: absolute;
  right: 0;
  top: 5px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #000000;
}
#newThreadButton:hover {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#999999), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #999999, #cccccc);
  background-image: -moz-linear-gradient(top, #999999, #cccccc);
  background-image: linear-gradient(top, #999999, #cccccc);
  background-attachment: fixed;
}
form dt {
  width: 25%;
  clear: both;
}
form dd {
  width: 75%;
}
form dt, form dd {
  float: left;
  margin-bottom: 5px;
}
form input[type=text], form input[type=password], form textarea {
  display: block;
  padding: 0 5px;
  width: 90%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form textarea {
  height: 120px;
}
footer {
  clear: both;
  overflow: hidden;
  margin-top: 30px;
}
