@import url("boilerplate-top.css");

@import url("boilerplate-bottom.css");
::-moz-selection {
  background: #00b7ff;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #00b7ff;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #00b7ff;
}
/**
 * Primary styles
 *
 * Author: Ossi Hanhinen, Antti Vuorela
 */
html {
  height: 100%;
}
body {
  font: 14px Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#dddddd), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
  background-image: linear-gradient(top, #dddddd, #ffffff);
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.4;
}
h1 {
  font-size: 28px;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px white;
  background: #ccc;
  margin: 0;
  padding: 5px 10px 5px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h2 {
  font-size: 22.400000000000002px;
  padding: 10px 10px 5px 10px;
}
h3 {
  font-size: 19.599999999999998px;
}
#page-wrapper {
  width: 90%;
  max-width: 1200px;
  margin-left: -45%;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 50%;
}
#page-wrapper a, #high-level section.thread-preview {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a {
  color: #00b7ff;
}
a:visited, a:link {
  color: #00b7ff;
}
header {
  width: 100%;
  margin-bottom: 10px;
}
header nav {
  width: 100%;
  overflow: hidden;
}
header nav ul {
  list-style: none;
  height: 30px;
  margin: 0;
  float: left;
  display: block;
}
header nav ul .board-group {
  margin-left: 10px;
}
header nav ul li.separator {
  padding: 2px 8px;
  margin-left: -10px;
  font-weight: bold;
}
header nav ul li.home {
  font-weight: bold;
}
header nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
header nav ul li a {
  display: block;
  position: relative;
  padding: 2px 8px;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-shadow: 1px 1px 1px white;
}
header nav ul li a:hover {
  color: #666666;
  background-color: #999;
}
header nav ul li a:visited, header nav ul li a:link {
  color: #000000;
}
header nav ul li a:active {
  top: 1px;
  left: 1px;
  background-color: #999999;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#666666), to(#999999));
  background-image: -webkit-linear-gradient(top, #666666, #999999);
  background-image: -moz-linear-gradient(top, #666666, #999999);
  background-image: linear-gradient(top, #666666, #999999);
  background-attachment: fixed;
  text-shadow: 0 0 2px white;
}
#column-wrapper {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  padding: 0 5px 5px 0;
}
#high-level, #detail-level {
  overflow: auto;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
#high-level section, #detail-level section {
  padding: 10px 10px;
}
#high-level article, #detail-level article {
  clear: both;
}
#high-level article div, #detail-level article div {
  padding: 0;
  min-height: 0;
  background: transparent none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
#high-level {
  left: 0;
  right: 51%;
}
#detail-level {
  left: 51%;
  right: 0;
}
#high-level section {
  display: block;
  margin: 0;
  padding: 10px 10px;
  border-bottom: 2px solid #eee;
  overflow: hidden;
  text-decoration: none;
}
#high-level section:last-of-type {
  border: none;
}
#high-level div.boardContent {
  position: absolute;
  top: 280px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
#high-level a.threadLink {
  text-decoration: none;
  color: #444444;
}
#high-level p.omitted {
  color: #ccc;
  margin: 5px 10px;
}
section.thread-preview {
  cursor: pointer;
  position: relative;
  /*&:active {
    background: #ccc;
    .box-shadow(0,0,0,1)
  }*/

}
section.thread-preview:hover {
  background: #eee;
}
#detail-level section.thread {
  position: absolute;
  top: 50px;
  bottom: 252px;
  left: 0;
  right: 0;
  overflow: auto;
}
#detail-level div.form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: auto;
  background: #eee;
  border-top: 2px solid #ccc;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#detail-level div.form h4:hover {
  background-color: #ccc;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin: -10px;
  cursor: pointer;
}
#detail-level div.form form {
  padding-top: 10px;
}
#detail-level dl dt {
  clear: left;
  float: left;
  width: 33%;
}
#detail-level dl dd {
  float: left;
}
.board a {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
}
.board a:hover {
  background: white;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.board a:active {
  background: #999;
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
.board a p {
  color: #444;
  float: right;
}
.board a h3 {
  padding-right: 20px;
  float: left;
}
.board a h3, .board a p {
  line-height: 40px;
}
.post {
  overflow: hidden;
  padding: 5px;
  margin: 5px 0;
}
.post:nth-of-type(2n) {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.post .post-id {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0 0.2em;
  color: #bbb;
}
.post .author {
  font-weight: bold;
  margin: 0 0.2em;
}
.post .post-image {
  margin: 5px 5px 0 0;
  float: left;
}
.post .post-content {
  margin: 0.8em;
  float: left;
}
.boardHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 2;
}
.boardHeader h1 {
  padding-right: 120px;
}
#newThreadButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #000000;
}
#newThreadButton:hover {
  background-color: #999;
}
#newThread {
  background: #eee;
  border-bottom: 2px solid #ccc;
}
#loadMore {
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
}
#loadMore:hover {
  background-color: #999;
}
div.form {
  padding: 10px;
  height: auto;
}
form {
  margin-top: 10px;
}
form dt {
  width: 25%;
  clear: both;
}
form dd {
  width: 75%;
}
form dt, form dd {
  float: left;
  margin-bottom: 5px;
}
form input[type=text], form input[type=password], form textarea {
  display: block;
  padding: 0 5px;
  width: 90%;
  font: 14px Helvetica, Arial, sans-serif;
}
form textarea {
  height: 120px;
}
footer {
  clear: both;
  overflow: hidden;
  margin-top: 30px;
}
a#newThreadsNotification {
  display: block;
  text-align: center;
  min-height: 0px;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: rgba(255, 250, 205, 0.8);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: #000000;
  text-decoration: none;
}
a#newThreadsNotification:hover {
  background-color: rgba(255, 250, 100, 0.8);
}
span.newReplyNotification {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: rgba(255, 250, 205, 0.8);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.hilight {
  background-color: rgba(255, 250, 205, 0.8) !important;
}
